In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

# Prepare data for preprocessing

In [2]:
train_df = pd.read_csv(r'C:\Users\Adam\Desktop\main\programming\machine learning\house prices regression\data\raw\train.csv')
test_df = pd.read_csv(r'C:\Users\Adam\Desktop\main\programming\machine learning\house prices regression\data\raw\test.csv')
#train_df.head()

In [3]:
train_df = train_df.drop(columns=['SalePrice'], axis=1)
data_con = pd.concat([train_df, test_df], ignore_index=True)
print(data_con.shape) 
data_con.head()

(2919, 80)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

1. list columns with missing values
2. drop features with missing values above 70%
3. fill missing values
4. reduce skeweness
5. scale the data
6. encode non-numeric data

In [4]:
#1 list columns with missing values
missing_cols = data_con.isna().sum()
missing_cols = missing_cols[missing_cols > 0].sort_values(ascending=False)

# 1.1 columns with missing values numeric
num_cols = data_con.select_dtypes(include=['number']).columns.tolist()
missing_numerical = data_con[num_cols].isna().sum()
missing_numerical = missing_numerical[missing_numerical > 0].sort_values(ascending=False)

#1.2 columns with missing values categoric
cat_cols = data_con.select_dtypes(exclude=['number']).columns.tolist()
missing_categorical = data_con[cat_cols].isna().sum()
missing_categorical = missing_categorical[missing_categorical > 0].sort_values(ascending=False)

# verify
if len(cat_cols) + len(num_cols) == 80:
    print(True)
else:
    print(False)

print('-----------------')
print(missing_cols)
print('-----------------')

True
-----------------
PoolQC          2909
MiscFeature     2814
Alley           2721
Fence           2348
MasVnrType      1766
FireplaceQu     1420
LotFrontage      486
GarageQual       159
GarageYrBlt      159
GarageCond       159
GarageFinish     159
GarageType       157
BsmtExposure      82
BsmtCond          82
BsmtQual          81
BsmtFinType2      80
BsmtFinType1      79
MasVnrArea        23
MSZoning           4
BsmtFullBath       2
Functional         2
BsmtHalfBath       2
Utilities          2
BsmtFinSF1         1
Exterior2nd        1
Exterior1st        1
Electrical         1
TotalBsmtSF        1
BsmtUnfSF          1
BsmtFinSF2         1
KitchenQual        1
GarageArea         1
GarageCars         1
SaleType           1
dtype: int64
-----------------

In [5]:
# 2.drop features with missing values if there is more than 70% of missing values in a column.
data_con = data_con.drop(columns=['PoolQC', 'MiscFeature', 'Alley', 'Fence'])
data_con.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')

In [6]:
missing_numerical

LotFrontage     486
GarageYrBlt     159
MasVnrArea       23
BsmtHalfBath      2
BsmtFullBath      2
BsmtFinSF1        1
BsmtFinSF2        1
TotalBsmtSF       1
BsmtUnfSF         1
GarageCars        1
GarageArea        1
dtype: int64

In [7]:
SM_num = ['GarageYrBlt', 'MasVnrArea', 'BsmtFullBath', 'BsmtHalfBath',  'BsmtUnfSF', 'TotalBsmtSF',  'GarageCars', 'GarageArea'] # 0
TM_num = ['LotFrontage', 'BsmtFinSF1', 'BsmtFinSF2'] # median

In [8]:
missing_categorical

PoolQC          2909
MiscFeature     2814
Alley           2721
Fence           2348
MasVnrType      1766
FireplaceQu     1420
GarageFinish     159
GarageCond       159
GarageQual       159
GarageType       157
BsmtCond          82
BsmtExposure      82
BsmtQual          81
BsmtFinType2      80
BsmtFinType1      79
MSZoning           4
Functional         2
Utilities          2
Exterior2nd        1
Exterior1st        1
KitchenQual        1
Electrical         1
SaleType           1
dtype: int64

In [9]:
SM_cat = ['MasVnrType', 'FireplaceQu', 'GarageQual', 'GarageFinish', 'GarageCond', 'GarageType', 'BsmtCond', 'BsmtExposure', 'BsmtQual',
         'BsmtFinType2', 'BsmtFinType1'] # None
TM_cat = ['MSZoning', 'Functional', 'Utilities', 'Electrical', 'KitchenQual', 'Exterior2nd', 'Exterior1st', 'SaleType'] # most frequent cat

### NOTE
Keep in mind that in *missing_categorical* there are still dropped columns PoolQC, MiscFeature etc.
Moving forward, there are two types of missing values in this dataset. True missing values (TM), which are missing values caused by some error and structured missing values (SM) that might be interpreted as "no data for this case". In this case we can not with 100% certainty decide which features are TM or SM. 

For numerical true missing values will be filled with median, while structured with 0.
For categorical true missing will be filled with most frequent category, while structured with 'None'.

In [10]:
# 3.fill missing values
#3.1 numerical
def fill_with_zero(dataset, columns):
    """ 
    This function fills missing values with 0 value. Returns modified dataset.
    """
    for column in columns:
        dataset[column].fillna(0, inplace=True)
    return dataset

def fill_with_median(dataset, columns):
    """ 
    This function fills missing values with median value. Returns modified dataset.
    """
    for column in columns:
        dataset[column].fillna(dataset[column].median(), inplace=True)
    return dataset
#3.2 categorical
def fill_with_most_freq(dataset, columns):
    """ 
    This function fills missing values with the most frequent category. Returns modified dataset.
    """
    for column in columns:
        dataset[column].fillna(dataset[column].mode()[0], inplace=True)
    return dataset

def fill_with_none(dataset, columns):
    """ 
    This function fills missing values with 'None'. Returns modified dataset.
    """
    for column in columns:
        dataset[column].fillna('None', inplace=True)
    return dataset

In [11]:
len(data_con.columns[data_con.isna().any()])

30

In [12]:
# -4, becouse I have dropped 4 of them before
len(missing_categorical)-4

19

In [13]:
len(missing_numerical)

11

In [14]:
# implement functions
data_con = fill_with_zero(data_con, SM_num)
data_con = fill_with_median(data_con, TM_num)
print('Columns to fill left:', len(data_con.columns[data_con.isna().any()]))

data_con = fill_with_most_freq(data_con, TM_cat)
data_con = fill_with_none(data_con, SM_cat)
print('Columns to fill left:', len(data_con.columns[data_con.isna().any()]))

Columns to fill left: 19
Columns to fill left: 0

C:\Users\Adam\AppData\Local\Temp\ipykernel_4236\256148231.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna(0, inplace=True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_4236\256148231.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna(dataset[column].median(), inplace=True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_4236\256148231.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna(dataset[column].median(), inplace=True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_4236\256148231.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna(dataset[column].median(), inplace=True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_4236\256148231.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna(dataset[column].mode()[0], inplace=True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_4236\256148231.py:32: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('None', inplace=True)

In [15]:
# 4. reduce skeweness. Aplly log n+1 transformation for columns, where skeweness > .7
for column in num_cols:
    temp = data_con[column].skew() 
    #print(column,temp)
    if data_con[column].skew() > .7:
        data_con[column] = np.log1p(data_con[column])
        print(column, temp, data_con[column].skew())

MSSubClass 1.3761646373261713 0.24528354240621622
LotFrontage 1.6757127932619122 -0.9948415692198087
LotArea 12.829024853018762 -0.505010100221913
MasVnrArea 2.6149360706240214 0.5372943324957613
BsmtFinSF1 1.4261107660173202 -0.6184861308606144
BsmtFinSF2 4.148275267275402 2.463749416031134
BsmtUnfSF 0.9198119686244477 -2.1563137383677677
TotalBsmtSF 1.157489025821493 -4.958842187588636
1stFlrSF 1.4703601055379227 0.06486101674723506
2ndFlrSF 0.8621178325657642 0.305206076056322
LowQualFinSF 12.094977192517302 8.56209088801536
GrLivArea 1.2700104075191514 0.013194362973261287
BsmtHalfBath 3.9336155129159094 3.7767030363381187
KitchenAbvGr 4.304466641562935 3.5221608468499483
TotRmsAbvGrd 0.7587568676624701 0.03512504311429316
Fireplaces 0.733871770878103 0.2377095178068746
WoodDeckSF 1.8433802126628294 0.15811426310497517
OpenPorchSF 2.5364173160468444 -0.04181879673885529
EnclosedPorch 4.005950070504265 1.9620890015074595
3SsnPorch 11.381914394786643 8.829793819788062
ScreenPorch 3.948723141292199 2.9474199516113737
PoolArea 16.9070172435751 15.006047051771919
MiscVal 21.958480324447216 5.216664735729965

In [26]:
# let's save this dataset before One Hot Encoding for Feature Engineering
data_con.to_csv('entire_prep_dataset.csv', index=False)
print('Successfully saved!')

Successfully saved!

In [16]:
train_df.shape

(1460, 80)

In [17]:
train_prep = data_con.iloc[:train_df.shape[0]]
test_prep = data_con.iloc[train_df.shape[0]:]

In [18]:
to_remove =['PoolQC', 'MiscFeature', 'Alley', 'Fence']
for column in to_remove:
    if column in cat_cols:
        cat_cols.remove(column)

In [19]:
#5. scale the data and one hot encode categorical cols
# split data_con into training and testing dataset
train_prep = data_con.iloc[:train_df.shape[0]]
test_prep = data_con.iloc[train_df.shape[0]:]

num_pipeline = make_pipeline(StandardScaler())
cat_pipeline = make_pipeline(OneHotEncoder(handle_unknown='ignore', sparse_output=False))
preprocess = make_column_transformer(
    (num_pipeline, num_cols),
    (cat_pipeline, cat_cols)
)

train_prep = preprocess.fit_transform(train_prep)
test_prep = preprocess.transform(test_prep)

In [20]:
train_prep.shape, test_prep.shape

((1460, 286), (1459, 286))

In [21]:

one_ht_encoded_cols = preprocess.transformers_[1][1].get_feature_names_out(cat_cols)
all_cols = num_cols + list(one_ht_encoded_cols)

In [22]:
# convert arrays to dataframe
train_prep_df = pd.DataFrame(train_prep, columns=all_cols)
test_prep_df = pd.DataFrame(test_prep, columns=all_cols)

print('Saving...')
train_prep_df.to_csv('train_prep_df.csv', index=False)
test_prep_df.to_csv('test_prep_df.csv', index=False)
print('Successfully saved!')

Saving...
Successfully saved!